@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="home-image" src="~/images/187588611_314807320088634_1446641079775331111_n.jpg" alt="Alternate Text" />
</div>

<div>
    <h2>Welcome to the shop!</h2>
    <p>Here is some text that explains what the shop is.</p>
    <p>Now here is some lorem ipsum:</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porta neque magna, imperdiet eleifend odio porttitor ac. Vestibulum rutrum ultrices eros, vel aliquam nunc fringilla non. Donec fringilla sit amet nulla id rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in feugiat elit. Phasellus quis leo id diam tempus congue at in sem. Proin id leo nisl. Aliquam ac enim egestas felis maximus pellentesque. Vestibulum ut lacus pharetra, tincidunt lacus in, lacinia justo. Vestibulum pharetra lacus in eros vehicula, at pellentesque nulla vulputate. Duis a erat a urna faucibus pellentesque nec in metus. Quisque at diam magna. Vestibulum dapibus enim quis justo tempor gravida. Suspendisse rhoncus hendrerit diam, eu tempor dolor lacinia fringilla.</p>
</div>
